


.layoutContainer {
    display: grid;
}
.icTopLeft {
    background-image: url('../../assets/ic_warning_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    /* 固定在畫面某個位置 */
    top: 0;
    left: 0;
    /* 對齊右側 */
    width: 25px;
    height: 25px;
    margin: 3px 0px 0px 3px;
}

.pageTitle {
    font-size: 20px;
    color: #df4a3b;
    justify-self: center;
    font-weight: bold;
}

.directions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contentTextBlack {
    color: #22353c;
    font-size: 12px;
    margin-left: 0px;
    font-weight: bold;
}

.contentTextRed {
    color: #df4a3b;
    font-size: 12px;
    margin-left: 0px;
    font-weight: bold;
}

.bgTop {
    background-image: url('../../assets/bg_left_top.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    /* 固定在畫面某個位置 */
    top: 0;
    left: 0;
    /* 對齊右側 */
    width: 61px;
    height: 65px;
}
.pendingContainer {
    justify-self: center;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    height: 90vh;
    justify-content: start; /* 確保前 3 行寬度由內容決定 */
    align-items: start;
    padding-bottom: 20px;
}

.divider {
    background-color: #bbbbbb;
    width: 100%;
    height: 1px;
}

.pendingContentText {
    margin-top: 50px;
    border-radius: 30px;
    border: 1px solid #bbbbbb;
    padding: 8px;
    font-size: 14px;
    color: #df4a3b;
    font-weight: bold;
}

.pendingBottom {
    align-self: end; /* 置底 */
    justify-self: center; /* 水平置中 */
    width: 100%; /* 滿版寬度 */
}

.bgPending {
    background-image: url('../../assets/bg_pending.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}
.pendingBtn {
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #df4a3b;
}